<div class="barra">
    <h2>Menú</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/Y26230">Zuanny</a></li>
        <li><a href="/Y23715">Gabriela </a></li>
        <li><a href="/Y18433">Nicolas</a></li>
        <li><a href="/Y12954">Yenifer </a></li>
        <li><a href="/UG0045">Diego </a></li>
        <li><a href="/curso">Curso</a></li>
        <li><a href="/word_cloud">Word Cloud</a></li>
    </ul>
</div>